@font-face {
  font-family: 'OpenSans-bold';
  src: local('OpenSans-bold'), url('/font/OpenSans-Bold.woff2') format('woff2'), url('/font/OpenSans-Bold.woff') format('woff');
}
@font-face {
  font-family: 'OpenSans-regular';
  src: local('OpenSans-regular'), url('/font/OpenSans-Regular.woff2') format('woff2'), url('/font/OpenSans-Regular.woff') format('woff');
}
* {
  box-sizing: border-box;
}
html {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: 'OpenSans-regular', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  color: #000000;
}
.caption-heading {
  font-size: 25px;
  line-height: 30px;
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
.button-common {
  padding: 0;
  margin: 0;
  display: block;
  max-width: 259px;
  width: 100%;
  text-align: center;
  padding: 14px 10px;
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #444444;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid #444444;
}
body {
  min-width: 320px;
}
.page-header__list,
.tablet-version__item {
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-list__link,
.menu-list__link,
.other-list__link,
.tablet-menu-list__link,
.tablet-site-list__link {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}
.site-list__link--search,
.tablet-site-list__link--search {
  padding: 0;
  border: none;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
}
.site-list__link--search::placeholder,
.tablet-site-list__link--search::placeholder {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
}
.page-header__main-nav {
  width: 320px;
  margin: 0 auto;
}
.tablet-version {
  display: flex;
  flex-direction: column;
}
.tablet-version__item--logo {
  order: -1;
  height: 35px;
}
.other-list,
.menu-list {
  display: none;
}
@media (min-width: 768px) {
  .page-header__logo {
    display: none;
  }
  .site-list {
    display: none;
  }
  .tablet-menu-list {
    display: none;
  }
  .page-header__main-nav {
    width: 768px;
  }
  .page-header__main-nav-container {
    width: 668px;
  }
  .tablet-version {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .tablet-version__item--logo {
    order: 0;
    height: 46px;
  }
  .tablet-site-list {
    display: flex;
    justify-content: space-between;
  }
  .menu-list {
    display: flex;
    justify-content: space-between;
  }
  .menu-list__link {
    font-size: 15px;
    line-height: 24px;
  }
  .menu-list__item--mobile-hidden {
    display: block;
    font-family: 'OpenSans-regular', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    line-height: 24px;
  }
}
@media (min-width: 1150px) {
  .menu-list {
    display: none;
  }
  .page-header__main-nav {
    width: 1150px;
  }
  .page-header__main-nav-container {
    width: 1050px;
  }
  .tablet-menu-list {
    display: flex;
    justify-content: space-between;
    width: 378px;
  }
  .tablet-version__item--logo {
    height: 72px;
  }
  .tablet-site-list {
    width: 400px;
  }
  .other-list {
    display: flex;
    justify-content: space-between;
  }
  .other-list__link {
    font-size: 15px;
    line-height: 24px;
  }
}
.page-header__container-things {
  width: 320px;
  margin: 0 auto;
}
.section-things__heading {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
  width: 250px;
  text-align: center;
  margin: 0 auto;
}
.section-things__inner {
  display: flex;
  flex-direction: column;
}
.section-things__mini-catalog {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  padding: 0;
  margin: 0;
  padding-left: 30px;
  padding-top: 25px;
  padding-bottom: 30px;
}
.section-things__mini-catalog--interior {
  background-color: #63d1bb;
}
.section-things__mini-catalog--toys {
  background-color: #56c3b2;
}
@media (min-width: 768px) {
  .page-header__container-things {
    width: 668px;
  }
  .section-things__heading {
    font-size: 43px;
    line-height: 50px;
    width: 500px;
  }
  .section-things__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .section-things__mini-catalog {
    flex-grow: 1;
    flex-basis: 100px;
  }
}
@media (min-width: 1150px) {
  .page-header__container-things {
    width: 1050px;
  }
  .section-things__heading {
    font-size: 53px;
    line-height: 57px;
    width: 615px;
  }
}
.page-footer__developed {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
}
.section-featured {
  width: 260px;
  margin: 0 auto;
}
.section-featured__subtitle {
  font-size: 17px;
  line-height: 20px;
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #63d1bb;
}
.section-featured__text {
  font-size: 15px;
  line-height: 24px;
}
.section-featured__charac,
.section-featured__value {
  font-size: 15px;
  line-height: 20px;
}
.section-featured__container-image {
  width: 260px;
  height: 315px;
}
.section-featured__price {
  font-size: 17px;
  line-height: 24px;
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: #444444;
}
@media (min-width: 768px) {
  .section-featured {
    width: 668px;
    position: relative;
    min-height: 403px;
  }
  .section-featured__description {
    width: 292px;
    margin-right: auto;
  }
  .section-featured__heading {
    font-size: 43px;
    line-height: 50px;
    position: relative;
  }
  .section-featured__subtitle {
    width: 75px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
  }
  .section-featured__text {
    font-size: 17px;
    line-height: 30px;
  }
  .section-featured__container-image {
    width: 333px;
    height: 403px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
  .section-featured__price {
    font-size: 20px;
    line-height: 24px;
  }
  .section-featured__button {
    max-width: none;
  }
}
@media (min-width: 1150px) {
  .section-featured {
    width: 1050px;
    padding-left: 175px;
    min-height: 636px;
  }
  .section-featured__heading {
    font-size: 53px;
    line-height: 57px;
  }
  .section-featured__subtitle {
    top: 0;
    right: auto;
    left: 0;
  }
  .section-featured__container-image {
    width: 525px;
    height: 636px;
    top: 0;
    right: 0;
  }
}
.section-about__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.about-list__item {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
}
.section-about {
  width: 260px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .section-about {
    width: 668px;
  }
  .section-about__heading {
    font-size: 43px;
    line-height: 50px;
  }
  .about-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .about-list__item {
    font-size: 20px;
    line-height: 22px;
    width: 334px;
  }
}
@media (min-width: 1150px) {
  .section-about {
    width: 700px;
  }
  .section-about__heading {
    font-size: 53px;
    line-height: 57px;
  }
  .about-list__item {
    width: 50%;
  }
}
.section-reviews {
  width: 260px;
  margin: 0 auto;
}
.article-review__text {
  font-size: 15px;
  line-height: 30px;
}
.article-review__name {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
}
.article-review__insta {
  font-family: 'OpenSans-regular', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
}
.article-review__button--tablet {
  display: none;
}
@media (min-width: 768px) {
  .article-review__button--mobile {
    display: none;
  }
  .section-reviews {
    width: 668px;
    position: relative;
  }
  .section-reviews__heading {
    font-size: 43px;
    line-height: 50px;
    position: relative;
  }
  .article-review__button--tablet {
    width: 175px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
  .article-review__text {
    font-size: 17px;
    line-height: 30px;
  }
  .article-review__name {
    display: block;
  }
  .article-review__toggles {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
@media (min-width: 1150px) {
  .section-reviews {
    width: 1050px;
    padding-left: 175px;
  }
  .section-reviews__heading {
    font-size: 53px;
    line-height: 57px;
  }
  .article-review__button--tablet {
    top: 0;
    right: 0;
  }
  .article-review__toggles {
    bottom: 0;
    right: 0;
  }
}
.section-contacts__title {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}
.section-contacts__td {
  font-size: 15px;
  line-height: 30px;
}
.page-main__main-title {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
}
.catalog-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.catalog-list__name {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}
.catalog-list__characteristics {
  font-size: 13px;
  line-height: 30px;
  font-style: normal;
}
.catalog-list__price {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
}
.section-processing__title {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}
.section-processing__text {
  font-size: 13px;
  line-height: 24px;
}
.page-main__main-title {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
}
.section-form__text {
  font-size: 13px;
  line-height: 24px;
}
.form-legend {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
}
.form-label {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}
.form-fieldset-initials__input,
.form-fieldset-phone__input,
.form-fieldset-email__input,
.form-fieldset-additionally__textarea {
  font-family: 'OpenSans-regular', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  line-height: 18px;
}
.form-fieldset-initials__input::placeholder,
.form-fieldset-phone__input::placeholder,
.form-fieldset-email__input::placeholder,
.form-fieldset-additionally__textarea::placeholder {
  font-family: 'OpenSans-regular', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}
.section-form__tiny {
  font-size: 14px;
  line-height: 16px;
}
