@font-face {
  font-family: 'OpenSans-bold';
  src: local('OpenSans-bold'), url('/font/OpenSans-Bold.woff2') format('woff2'), url('/font/OpenSans-Bold.woff') format('woff');
}
@font-face {
  font-family: 'OpenSans-regular';
  src: local('OpenSans-regular'), url('/font/OpenSans-Regular.woff2') format('woff2'), url('/font/OpenSans-Regular.woff') format('woff');
}
* {
  box-sizing: border-box;
}
html {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: 'OpenSans-regular', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  color: #000000;
}
.caption-heading {
  font-size: 25px;
  line-height: 30px;
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
.button-common {
  padding: 0;
  margin: 0;
  display: block;
  max-width: 259px;
  width: 100%;
  text-align: center;
  padding: 14px 10px;
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #444444;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid #444444;
}
body {
  min-width: 320px;
}
.page-header {
  background-color: #f9f9f9;
}
.page-header__list,
.tablet-version__item {
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-list__link,
.menu-list__link,
.other-list__link,
.tablet-menu-list__link,
.tablet-site-list__link {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}
.site-list__link--search,
.tablet-site-list__link--search {
  padding: 0;
  border: none;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
}
.site-list__link--search::placeholder,
.tablet-site-list__link--search::placeholder {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
}
.page-header__main-nav {
  width: 320px;
  margin: 0 auto;
}
.tablet-version {
  display: flex;
  flex-direction: column;
}
.tablet-version__item--logo {
  order: -1;
}
.other-list,
.menu-list {
  display: none;
}
.tablet-site-list__item {
  position: relative;
}
.tablet-site-list__item--search::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-image: url(../img/search.png);
  background-size: 18px;
  top: 28px;
  left: 32px;
  opacity: 20%;
}
.tablet-site-list__item--cart::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 18px;
  background-image: url(../img/cart.png);
  background-size: 21px 18px;
  top: 28px;
  left: 30px;
  opacity: 20%;
}
@media (max-width: 767px) {
  .page-header {
    width: 320px;
    margin: 0 auto;
  }
  .tablet-version {
    position: relative;
    background-color: #fff;
    width: 320px;
  }
  .tablet-menu-list__item,
  .tablet-version__item--logo,
  .tablet-site-list__item {
    padding: 0;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid #ececec;
  }
  .tablet-version__link {
    padding: 0;
    margin: 0;
    display: block;
    width: 260px;
    margin: 0 auto;
    padding: 24px 39px;
  }
  .tablet-version__item--logo {
    padding: 20px 0;
  }
  .tablet-version__logo {
    display: block;
    width: 86px;
    height: 35px;
    margin: 0 auto;
  }
  .tablet-version__toggle {
    position: absolute;
    font-size: 0.01px;
    width: 20px;
    height: 20px;
    background-color: red;
    border: none;
    top: 20px;
    right: 31px;
  }
  .tablet-version--closed .tablet-version__item {
    display: none;
  }
  .tablet-version--closed .tablet-version__item--logo {
    display: block;
  }
}
@media (min-width: 768px) {
  .tablet-version__toggle {
    display: none;
  }
  .page-header__logo {
    display: none;
  }
  .site-list {
    display: none;
  }
  .tablet-menu-list {
    display: none;
  }
  .page-header__main-nav {
    width: 768px;
  }
  .page-header__main-nav-container {
    width: 668px;
    margin: 0 auto;
  }
  .tablet-version {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    position: relative;
    z-index: 10;
  }
  .tablet-version::before,
  .tablet-version::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #e7e7e7;
    z-index: -1;
  }
  .tablet-version::before {
    top: -1px;
    left: -50px;
  }
  .tablet-version::after {
    top: -1px;
    right: -50px;
  }
  .tablet-version__item--logo {
    order: 0;
    width: 321px;
    border: 1px solid #e7e7e7;
    border-left: none;
    padding-top: 20px;
  }
  .tablet-version__logo {
    display: block;
    width: 112px;
    height: 46px;
    margin-right: auto;
    background-color: red;
  }
  .tablet-site-list {
    display: flex;
    justify-content: space-between;
  }
  .tablet-site-list__item {
    display: block;
    border: 1px solid #e7e7e7;
    border-left: none;
    padding: 31px 0px;
  }
  .tablet-site-list__item--search {
    width: 83px;
  }
  .tablet-site-list__item--search::before {
    top: 33px;
  }
  .tablet-site-list__link--search {
    width: 0;
  }
  .tablet-site-list__item--cart {
    width: 263px;
    border-right: none;
    padding-top: 29px;
    text-align: right;
  }
  .tablet-site-list__item--cart::before {
    content: "";
    position: absolute;
    width: 21px;
    height: 18px;
    background-image: url(../img/cart.png);
    background-size: 21px 18px;
    top: 31px;
    left: 30px;
    opacity: 20%;
  }
  .menu-list {
    display: flex;
    justify-content: flex-start;
    margin-top: 17px;
  }
  .menu-list__item--catalog {
    margin-right: 35px;
  }
  .menu-list__link {
    font-size: 15px;
    line-height: 24px;
  }
  .menu-list__item--mobile-hidden {
    display: block;
    font-family: 'OpenSans-regular', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    line-height: 24px;
    margin-left: auto;
  }
}
@media (min-width: 1150px) {
  .menu-list {
    display: none;
  }
  .page-header__main-nav {
    width: 1150px;
  }
  .page-header__main-nav-container {
    width: 1050px;
  }
  .tablet-menu-list {
    display: flex;
    justify-content: space-between;
    width: 415px;
  }
  .tablet-menu-list__item--catalog {
    border: 1px solid #e7e7e7;
    border-left: none;
    width: 185px;
    padding: 30px 0;
  }
  .tablet-menu-list__item--order {
    border: 1px solid #e7e7e7;
    border-right: none;
    border-left: none;
    width: 229px;
    padding: 30px 33px;
  }
  .tablet-version__item--logo {
    padding: 8px 36px;
  }
  .tablet-version__item--logo {
    width: 323px;
  }
  .tablet-version__logo {
    padding: 0;
    margin: 0;
    width: 149px;
    height: 72px;
  }
  .tablet-site-list__item--cart {
    width: 266px;
  }
  .other-list {
    display: flex;
    justify-content: flex-start;
    margin-top: 17px;
  }
  .other-list__item--catalog {
    margin-right: 61px;
  }
  .other-list__link {
    font-size: 15px;
    line-height: 24px;
  }
  .other-list__item--mobile-hidden {
    margin-left: auto;
  }
}
.page-header__container-things {
  width: 320px;
  margin: 0 auto;
  padding-top: 70px;
}
.section-things__heading {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
  width: 260px;
  text-align: center;
  margin: 0 auto;
}
.section-things__inner {
  margin-top: 122px;
  display: flex;
  flex-direction: column;
}
.section-things__mini-catalog {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  padding: 0;
  margin: 0;
  padding-left: 30px;
  padding-top: 25px;
  padding-bottom: 30px;
  position: relative;
}
.section-things__mini-catalog--interior::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 62px;
  top: 23px;
  right: 37px;
  background-image: url(../img/interior.png);
}
.section-things__mini-catalog--toys::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  top: 20px;
  right: 27px;
  background-image: url(../img/toy.png);
}
.section-things__mini-catalog--interior {
  background-color: #63d1bb;
}
.section-things__mini-catalog--toys {
  background-color: #56c3b2;
}
@media (min-width: 768px) {
  .page-header {
    position: relative;
  }
  .page-header__container-things {
    width: 768px;
    padding-top: 112px;
  }
  .page-header__container-things::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 12px;
    background-color: #ffffff;
    background-repeat: repeat-x;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
  .page-header__container-things::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 22px;
    background-image: url(../img/zigzag-fill-tablet.png);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
  .section-things__heading {
    font-size: 43px;
    line-height: 50px;
    width: 500px;
  }
  .section-things__inner {
    width: 668px;
    margin: 0 auto;
    margin-top: 373px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .section-things__mini-catalog {
    flex-grow: 1;
    flex-basis: 100%;
    font-size: 20px;
    line-height: 30px;
    padding-left: 35px;
    padding-top: 28px;
    padding-bottom: 40px;
  }
  .section-things__mini-catalog--toys::after {
    top: 31px;
    right: 34px;
  }
}
@media (min-width: 1150px) {
  .page-header__container-things {
    width: 1050px;
  }
  .section-things__inner {
    width: 1050px;
    margin: 0 auto;
    margin-top: 359px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }
  .page-header__container-things::after {
    content: none;
  }
  .page-header__container-things::before {
    content: none;
  }
  .section-things__inner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 34px;
    background-image: url(../img/zigzag-fill-desktop.png);
    left: 0;
    bottom: 0;
    z-index: 2;
  }
  .section-things__mini-catalog {
    padding-bottom: 47px;
  }
  .section-things__heading {
    font-size: 53px;
    line-height: 57px;
    width: 615px;
  }
}
.page-footer {
  width: 100%;
}
.page-footer__wrapper {
  width: 260px;
  margin: 0 auto;
}
.page-footer__logo {
  display: none;
}
.page-footer__developed {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    width: 668px;
    display: flex;
    justify-content: space-between;
  }
  .page-footer__logo {
    display: block;
  }
}
@media (min-width: 1150px) {
  .page-footer__wrapper {
    width: 1050px;
  }
}
.section-featured {
  width: 260px;
  margin: 0 auto;
  padding-top: 27px;
  margin-bottom: 42px;
}
.section-featured__heading {
  position: relative;
  margin-bottom: 48px;
}
.section-featured__subtitle {
  font-size: 17px;
  line-height: 20px;
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #63d1bb;
  position: absolute;
  top: 35px;
  left: 0;
}
.section-featured__text {
  font-size: 15px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 26px;
}
.section-featured__table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 19px;
}
.section-featured__tr {
  display: block;
  padding-bottom: 9px;
  margin-bottom: 8px;
  border-bottom: 1px solid #ececec;
}
.section-featured__charac,
.section-featured__value {
  font-size: 15px;
  line-height: 20px;
}
.section-featured__charac {
  width: 97px;
}
.section-featured__container-image {
  width: 260px;
  height: 315px;
  margin-bottom: 25px;
}
.section-featured__price {
  font-size: 17px;
  line-height: 24px;
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: #444444;
  display: block;
  text-align: center;
  margin-bottom: 26px;
}
@media (min-width: 768px) {
  .section-featured {
    width: 668px;
    position: relative;
    min-height: 403px;
    padding-top: 36px;
  }
  .section-featured__description {
    width: 292px;
    margin-right: auto;
  }
  .section-featured__heading {
    font-size: 43px;
    line-height: 50px;
    position: relative;
  }
  .section-featured__subtitle {
    font-size: 17px;
    line-height: 17px;
    width: 75px;
    text-align: center;
    left: auto;
    top: 11px;
    right: 25px;
  }
  .section-featured__text {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 45px;
  }
  .section-featured__table {
    margin-bottom: 48px;
  }
  .section-featured__container-image {
    width: 333px;
    height: 403px;
    position: absolute;
    top: 143px;
    right: 0;
    z-index: -1;
    background-color: red;
  }
  .section-featured__price {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 34px;
  }
  .section-featured__button {
    max-width: none;
  }
}
@media (min-width: 1150px) {
  .section-featured {
    width: 1050px;
    padding-left: 175px;
    min-height: 636px;
    padding-top: 107px;
  }
  .section-featured__heading {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 49px;
  }
  .section-featured__subtitle {
    top: 15px;
    right: auto;
    left: -131px;
  }
  .section-featured__text {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 56px;
  }
  .section-featured__table {
    margin-bottom: 102px;
  }
  .section-featured__tr {
    padding-bottom: 11px;
    margin-bottom: 6px;
  }
  .section-featured__container-image {
    width: 525px;
    height: 636px;
    top: 55px;
    right: 0;
  }
}
.section-about__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.section-about {
  width: 260px;
  margin: 0 auto;
  padding-top: 27px;
}
.about-list__item {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  padding-top: 84px;
  position: relative;
}
.about-list__item::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
}
.about-list__item--eco::before {
  background-image: url(../img/icon-1.png);
  width: 32px;
  height: 37px;
  top: 32px;
  left: 8px;
}
.about-list__item--price::before {
  background-image: url(../img/icon-3.png);
  width: 47px;
  height: 27px;
  top: 32px;
  left: 0px;
}
.about-list__item--like::before {
  background-image: url(../img/icon-5.png);
  width: 34px;
  height: 27px;
  top: 36px;
  left: 7px;
}
.about-list__item--hand::before {
  background-image: url(../img/icon-2.png);
  width: 35px;
  height: 34px;
  top: 32px;
  left: 3px;
}
.about-list__item--patriot::before {
  background-image: url(../img/icon-4.png);
  width: 55px;
  height: 23px;
  top: 32px;
  left: -6px;
}
.about-list__item--surprise::before {
  background-image: url(../img/icon-6.png);
  width: 33px;
  height: 32px;
  top: 29px;
  left: 3px;
}
@media (min-width: 768px) {
  .section-about {
    width: 668px;
    padding-top: 76px;
  }
  .section-about__heading {
    font-size: 43px;
    line-height: 50px;
  }
  .about-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .about-list__item {
    font-size: 20px;
    line-height: 22px;
    width: 334px;
    padding-top: 108px;
  }
  .about-list__item::before {
    top: 55px;
  }
}
@media (min-width: 1150px) {
  .section-about {
    width: 700px;
    padding-top: 113px;
  }
  .section-about__heading {
    font-size: 53px;
    line-height: 57px;
  }
  .about-list__item {
    width: 50%;
  }
}
.section-reviews {
  width: 260px;
  margin: 0 auto;
}
.article-review__text {
  font-size: 15px;
  line-height: 30px;
}
.article-review__name {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
}
.article-review__insta {
  font-family: 'OpenSans-regular', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
}
.article-review__button--tablet {
  display: none;
}
@media (min-width: 768px) {
  .article-review__button--mobile {
    display: none;
  }
  .section-reviews {
    width: 668px;
    position: relative;
  }
  .section-reviews__heading {
    font-size: 43px;
    line-height: 50px;
    position: relative;
  }
  .article-review__button--tablet {
    width: 175px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
  .article-review__text {
    font-size: 17px;
    line-height: 30px;
  }
  .article-review__name {
    display: block;
  }
  .article-review__toggles {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
@media (min-width: 1150px) {
  .section-reviews {
    width: 1050px;
    padding-left: 175px;
  }
  .section-reviews__heading {
    font-size: 53px;
    line-height: 57px;
  }
  .article-review__button--tablet {
    top: 0;
    right: 0;
  }
  .article-review__toggles {
    bottom: 0;
    right: 0;
  }
}
.section-contacts__button--top {
  display: none;
}
.section-contacts {
  width: 260px;
  margin: 0 auto;
}
.section-contacts__title {
  padding: 0;
  margin: 0;
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}
.section-contacts__table {
  width: 100%;
}
.section-contacts__tr {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.section-contacts__td {
  font-size: 15px;
  line-height: 30px;
}
.section-contacts__td--value {
  width: 50px;
  margin-bottom: 50px;
}
.section-contacts__td--weight {
  width: 182px;
  text-align: left;
}
.section-contacts__container-image {
  position: relative;
  height: 457px;
}
.section-contacts__image {
  position: absolute;
  left: -12%;
}
@media (min-width: 768px) {
  .section-contacts {
    width: 668px;
  }
  .section-contacts__title {
    font-size: 43px;
    line-height: 50px;
  }
  .section-contacts__table {
    display: flex;
    justify-content: space-between;
  }
  .section-contacts__td {
    font-size: 17px;
    line-height: 30px;
  }
  .section-contacts__tr {
    width: 50%;
  }
  .section-contacts__td--value {
    width: 55px;
  }
  .section-contacts__td--weight {
    width: 220px;
  }
  .section-contacts__image {
    position: absolute;
    left: -8%;
    width: 768px;
    height: 457px;
  }
  .section-contacts__button {
    width: 230px;
    margin: 0 auto;
  }
}
@media (min-width: 1150px) {
  .section-contacts {
    width: 1050px;
    position: relative;
    min-height: 457px;
    padding-left: 175px;
  }
  .section-contacts__title {
    font-size: 53px;
    line-height: 57px;
  }
  .section-contacts__table {
    display: block;
  }
  .section-contacts__tr {
    width: 100%;
  }
  .section-contacts__td--value {
    width: 55px;
  }
  .section-contacts__td--weight {
    width: 225px;
    text-align: left;
  }
  .article-contacts {
    width: 300px;
    margin-right: auto;
  }
  .section-contacts__container-image {
    position: absolute;
    right: 0;
    top: 0;
    width: 525px;
    height: 457px;
  }
  .section-contacts__image {
    position: static;
    width: 525px;
    height: 457px;
  }
  .section-contacts__button--top {
    display: block;
    margin: 0;
  }
  .section-contacts__button--bottom {
    display: none;
  }
}
.page-main__main-title {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  width: 260px;
  margin: 0 auto;
}
.catalog-list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 260px;
  margin: 0 auto;
}
.catalog-list__item {
  width: 260px;
}
.catalog-list__name {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}
.catalog-list__characteristics {
  font-size: 13px;
  line-height: 30px;
  font-style: normal;
}
.catalog-list__price {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .page-main__main-title {
    font-size: 43px;
    line-height: 50px;
    width: 383px;
  }
  .catalog-list {
    width: 668px;
  }
  .catalog-list__item {
    width: 668px;
    display: flex;
    justify-content: space-between;
  }
  .catalog-list__container-image {
    width: 334px;
    height: 334px;
  }
  .catalog-list__container-description {
    width: 334px;
  }
  .catalog-list__name {
    font-size: 20px;
    line-height: 24px;
  }
  .catalog-list__characteristics {
    font-size: 15px;
    line-height: 30px;
  }
  .catalog-list__price {
    font-size: 17px;
    line-height: 24px;
  }
}
@media (min-width: 1150px) {
  .page-main__main-title {
    font-size: 53px;
    line-height: 57px;
    width: 570px;
  }
  .catalog-list {
    width: 1050px;
    display: flex;
    justify-content: space-between;
  }
  .catalog-list__item {
    width: 316px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .catalog-list__container-image {
    width: 316px;
    height: 462px;
  }
  .catalog-list__container-description {
    width: 316px;
  }
}
.section-processing {
  width: 260px;
  margin: 0 auto;
}
.section-processing__title {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}
.section-processing__container-video {
  width: 260px;
  height: 150px;
}
.section-processing__title--top {
  width: 192px;
  margin: 0 auto;
}
.section-processing__title--bottom {
  display: none;
}
.section-processing__text {
  font-size: 13px;
  line-height: 24px;
  width: 192px;
  margin: 0 auto;
}
.section-processing__button {
  width: 192px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .section-processing {
    width: 668px;
  }
  .section-processing__container-video {
    width: 668px;
    height: 455px;
  }
  .section-processing__title--top {
    display: none;
  }
  .section-processing__title--bottom {
    display: block;
    width: 584px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 24px;
  }
  .section-processing__text {
    font-size: 15px;
    line-height: 30px;
    width: 584px;
  }
  .section-processing__button {
    max-width: none;
    width: 584px;
  }
}
@media (min-width: 1150px) {
  .section-processing {
    width: 1050px;
    display: flex;
    justify-content: space-between;
  }
  .section-processing__container-video {
    width: 682px;
    height: 455px;
  }
  .section-processing__container-description {
    width: 368px;
  }
  .section-processing__title--bottom {
    width: 230px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 24px;
  }
  .section-processing__text {
    width: 230px;
  }
  .section-processing__button {
    width: 230px;
  }
}
.page-main__main-title-form {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  width: 260px;
  margin: 0 auto;
}
.section-form__form {
  padding: 0;
  margin: 0;
  width: 260px;
  margin: 0 auto;
}
.section-form__text {
  font-size: 13px;
  line-height: 24px;
  width: 260px;
  margin: 0 auto;
}
.section-form__form-fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
.form-legend {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
}
.form-label {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}
.form-fieldset-initials__input,
.form-fieldset-phone__input,
.form-fieldset-email__input,
.form-fieldset-additionally__textarea {
  font-family: 'OpenSans-regular', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  line-height: 18px;
  display: block;
  width: 260px;
}
.form-fieldset-initials__input::placeholder,
.form-fieldset-phone__input::placeholder,
.form-fieldset-email__input::placeholder,
.form-fieldset-additionally__textarea::placeholder {
  font-family: 'OpenSans-regular', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}
.section-form__tiny {
  font-size: 14px;
  line-height: 16px;
}
.form-fieldset-initials__label {
  display: block;
}
.form-fieldset-additionally__textarea {
  display: block;
  width: 260px;
}
@media (min-width: 768px) {
  .page-main__main-title-form {
    font-size: 43px;
    line-height: 50px;
    width: 668px;
    text-align: center;
  }
  .section-form__form {
    width: 668px;
  }
  .section-form__text {
    width: 668px;
  }
  .section-form__form-fieldset {
    width: 668px;
    display: flex;
    justify-content: space-between;
  }
  .form-legend {
    width: 167px;
  }
  .container-inputs {
    width: 501px;
  }
  .form-fieldset-initials__container-input {
    display: flex;
    justify-content: space-between;
  }
  .section-form__other {
    display: flex;
    justify-content: space-between;
  }
  .section-form__tiny {
    order: 2;
  }
}
@media (min-width: 1150px) {
  .page-main__main-title-form {
    font-size: 53px;
    line-height: 57px;
    width: 1050px;
  }
  .section-form__form {
    width: 1050px;
  }
  .section-form__text {
    width: 700px;
  }
  .section-form__form-fieldset {
    width: 875px;
    display: flex;
    justify-content: space-between;
  }
  .form-legend {
    width: 175px;
    padding-left: 64px;
  }
  .container-inputs {
    width: 700px;
  }
  .form-fieldset-initials__container-input {
    display: flex;
    justify-content: space-between;
  }
  .section-form__other {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin: 0 auto;
  }
  .section-form__tiny {
    order: 2;
  }
}
