@font-face {
  font-family: 'OpenSans-bold';
  src: local('OpenSans-bold'), url('/font/OpenSans-Bold.woff2') format('woff2'), url('/font/OpenSans-Bold.woff') format('woff');
}
@font-face {
  font-family: 'OpenSans-regular';
  src: local('OpenSans-regular'), url('/font/OpenSans-Regular.woff2') format('woff2'), url('/font/OpenSans-Regular.woff') format('woff');
}
* {
  box-sizing: border-box;
  outline: none;
}
html {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: 'OpenSans-regular', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  color: #000000;
}
.caption-heading {
  font-size: 25px;
  line-height: 30px;
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
.button-common {
  padding: 0;
  margin: 0;
  display: block;
  max-width: 259px;
  width: 100%;
  text-align: center;
  padding: 14px 10px;
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #444444;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid #444444;
}
body {
  min-width: 320px;
}
.page-header {
  background-color: #f9f9f9;
}
.page-header__list,
.tablet-version__item {
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-list__link,
.menu-list__link,
.other-list__link,
.tablet-menu-list__link,
.tablet-site-list__link {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}
.site-list__link--search,
.tablet-site-list__link--search {
  padding: 0;
  border: none;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
}
.site-list__link--search::placeholder,
.tablet-site-list__link--search::placeholder {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
}
.page-header__main-nav {
  width: 320px;
  margin: 0 auto;
}
.tablet-version {
  display: flex;
  flex-direction: column;
}
.tablet-version__item--logo {
  order: -1;
}
.other-list,
.menu-list {
  display: none;
}
.tablet-site-list__item {
  position: relative;
}
.tablet-site-list__item--search::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-image: url(../img/search.svg);
  background-size: 18px;
  top: 28px;
  left: 32px;
  opacity: 20%;
}
.tablet-site-list__item--cart::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 18px;
  background-image: url(../img/cart.svg);
  background-size: 21px 18px;
  top: 28px;
  left: 30px;
  opacity: 20%;
}
@media (max-width: 767px) {
  .page-header {
    width: 320px;
    margin: 0 auto;
  }
  .tablet-version {
    position: relative;
    background-color: #fff;
    width: 320px;
  }
  .tablet-menu-list__item,
  .tablet-version__item--logo,
  .tablet-site-list__item {
    padding: 0;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid #ececec;
  }
  .tablet-version__link {
    padding: 0;
    margin: 0;
    display: block;
    width: 260px;
    margin: 0 auto;
    padding: 24px 39px;
  }
  .tablet-version__item--logo {
    padding: 22px 0;
    padding-top: 18px;
  }
  .tablet-version__logo {
    display: block;
    width: 86px;
    height: 35px;
    margin: 0 auto;
    background-image: url(../img/mishka-logo-mobile.svg);
    background-size: 86px 35px;
  }
  .tablet-version__toggle {
    position: absolute;
    font-size: 0.01px;
    width: 20px;
    height: 2px;
    background-color: #000000;
    box-shadow: 0px 6px, 0px 12px;
    border: none;
    top: 28px;
    right: 31px;
  }
  .tablet-version--closed .tablet-version__item {
    display: none;
  }
  .tablet-version--closed .tablet-version__item--logo {
    display: block;
  }
  .tablet-version--opened .tablet-version__toggle {
    width: 20px;
    height: 2px;
    background-color: transparent;
    box-shadow: none;
    top: 28px;
    right: 31px;
  }
  .tablet-version--opened .tablet-version__toggle::before,
  .tablet-version--opened .tablet-version__toggle::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 2px;
    background-color: #000000;
    top: 6px;
    left: -4px;
  }
  .tablet-version--opened .tablet-version__toggle::before {
    transform: rotate(45deg);
  }
  .tablet-version--opened .tablet-version__toggle::after {
    transform: rotate(-45deg);
  }
}
@media (min-width: 768px) {
  .tablet-version__toggle {
    display: none;
  }
  .page-header__logo {
    display: none;
  }
  .site-list {
    display: none;
  }
  .tablet-menu-list {
    display: none;
  }
  .page-header__main-nav {
    width: 768px;
  }
  .page-header__main-nav-container {
    width: 668px;
    margin: 0 auto;
  }
  .tablet-version {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    position: relative;
    z-index: 10;
  }
  .tablet-version::before,
  .tablet-version::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #e7e7e7;
    z-index: -1;
  }
  .tablet-version::before {
    top: -1px;
    left: -50px;
  }
  .tablet-version::after {
    top: -1px;
    right: -50px;
  }
  .tablet-version__item--logo {
    order: 0;
    width: 321px;
    border: 1px solid #e7e7e7;
    border-left: none;
    padding-top: 20px;
  }
  .tablet-version__logo {
    display: block;
    width: 112px;
    height: 46px;
    margin-right: auto;
    background-image: url(../img/mishka-logo-tablet.svg);
    background-size: 112px 46px;
  }
  .tablet-site-list {
    display: flex;
    justify-content: space-between;
  }
  .tablet-site-list__item {
    display: block;
    border: 1px solid #e7e7e7;
    border-left: none;
    padding: 31px 0px;
  }
  .tablet-site-list__item--search {
    width: 83px;
  }
  .tablet-site-list__item--search::before {
    top: 33px;
  }
  .tablet-site-list__link--search {
    width: 0;
  }
  .tablet-site-list__item--cart {
    width: 263px;
    border-right: none;
    padding-top: 29px;
    text-align: right;
  }
  .tablet-site-list__item--cart::before {
    top: 31px;
    left: 30px;
  }
  .menu-list {
    display: flex;
    justify-content: flex-start;
    margin-top: 17px;
  }
  .menu-list__item--catalog {
    margin-right: 35px;
  }
  .menu-list__link {
    font-size: 15px;
    line-height: 24px;
  }
  .menu-list__item--mobile-hidden {
    display: block;
    font-family: 'OpenSans-regular', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    line-height: 24px;
    margin-left: auto;
  }
}
@media (min-width: 1150px) {
  .menu-list {
    display: none;
  }
  .page-header__main-nav {
    width: 1150px;
  }
  .page-header__main-nav-container {
    width: 1050px;
  }
  .tablet-menu-list {
    display: flex;
    justify-content: space-between;
    width: 415px;
  }
  .tablet-menu-list__item--catalog {
    border: 1px solid #e7e7e7;
    border-left: none;
    width: 185px;
    padding: 30px 0;
  }
  .tablet-menu-list__item--order {
    border: 1px solid #e7e7e7;
    border-right: none;
    border-left: none;
    width: 229px;
    padding: 30px 33px;
  }
  .tablet-version__item--logo {
    padding: 8px 36px;
  }
  .tablet-version__item--logo {
    width: 323px;
  }
  .tablet-version__logo {
    padding: 0;
    margin: 0;
    width: 149px;
    height: 72px;
    background-image: url(../img/mishka-logo-desktop.svg);
    background-size: 149px 72px;
  }
  .tablet-site-list__item--cart {
    width: 266px;
  }
  .other-list {
    display: flex;
    justify-content: flex-start;
    margin-top: 17px;
  }
  .other-list__item--catalog {
    margin-right: 61px;
  }
  .other-list__link {
    font-size: 15px;
    line-height: 24px;
  }
  .other-list__item--mobile-hidden {
    margin-left: auto;
  }
}
.page-header__container-things {
  width: 320px;
  margin: 0 auto;
  padding-top: 70px;
}
.section-things__heading {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
  width: 260px;
  text-align: center;
  margin: 0 auto;
}
.section-things__inner {
  margin-top: 122px;
  display: flex;
  flex-direction: column;
}
.section-things__mini-catalog {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  padding: 0;
  margin: 0;
  padding-left: 30px;
  padding-top: 25px;
  padding-bottom: 30px;
  position: relative;
}
.section-things__mini-catalog--interior::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 62px;
  top: 23px;
  right: 37px;
  background-image: url(../img/interior.svg);
  background-size: 40px 62px;
  filter: opacity(20%);
}
.section-things__mini-catalog--toys::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  top: 20px;
  right: 27px;
  background-image: url(../img/toy.svg);
  background-size: 60px 60px;
  filter: opacity(20%);
}
.section-things__mini-catalog--interior {
  background-color: #63d1bb;
}
.section-things__mini-catalog--toys {
  background-color: #56c3b2;
}
@media (max-width: 768px) {
  .page-header__container-things {
    background-image: url(../img/hero-mobile.jpg);
    background-size: 320px 373px;
    background-position: center -18px;
  }
}
@media (min-width: 768px) {
  .page-header {
    position: relative;
  }
  .page-header__container-things {
    width: 768px;
    padding-top: 112px;
    background-image: url(../img/hero-desktop.jpg);
    background-size: 1150px 746px;
    background-position: center -42px;
  }
  .page-header__container-things::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 12px;
    background-color: #ffffff;
    background-repeat: repeat-x;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
  .page-header__container-things::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 22px;
    background-image: url(../img/zigzag-fill-tablet.svg);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
  .section-things__heading {
    font-size: 43px;
    line-height: 50px;
    width: 500px;
  }
  .section-things__inner {
    width: 668px;
    margin: 0 auto;
    margin-top: 373px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .section-things__mini-catalog {
    flex-grow: 1;
    flex-basis: 100%;
    font-size: 20px;
    line-height: 30px;
    padding-left: 35px;
    padding-top: 28px;
    padding-bottom: 40px;
  }
  .section-things__mini-catalog--toys::after {
    top: 31px;
    right: 34px;
  }
}
@media (min-width: 1150px) {
  .page-header__container-things {
    width: 1050px;
  }
  .section-things__inner {
    width: 1050px;
    margin: 0 auto;
    margin-top: 359px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }
  .page-header__container-things::after {
    content: none;
  }
  .page-header__container-things::before {
    content: none;
  }
  .section-things__inner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 34px;
    background-image: url(../img/zigzag-fill-desktop.png);
    left: 0;
    bottom: 0;
    z-index: 2;
  }
  .section-things__mini-catalog {
    padding-bottom: 47px;
  }
  .section-things__heading {
    font-size: 53px;
    line-height: 57px;
    width: 615px;
  }
}
.page-footer {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #f1f1f1;
  padding-top: 24px;
  padding-bottom: 30px;
}
.page-footer__wrapper {
  width: 260px;
  margin: 0 auto;
}
.page-footer__logo {
  display: none;
}
.page-footer__network {
  width: 142px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 56px;
}
.network-items__item {
  font-size: 0.01px;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}
.network-items__item--insta {
  width: 22px;
  height: 21px;
}
.network-items__item--fb {
  width: 15px;
  height: 28px;
}
.network-items__item--twitter {
  width: 23px;
  height: 20px;
}
.network-items__item:hover .network-items__item-svg g {
  fill: #46c1ae;
}
.network-items__item:active .network-items__item-svg g {
  opacity: 30%;
}
.page-footer__developed {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  padding-left: 38px;
}
.page-footer__developed::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  top: -28px;
  left: 0;
}
.page-footer__developed::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 34px;
  background-image: url(../img/htmlacademy.png);
  top: -5px;
  right: 39px;
}
@media (min-width: 768px) {
  .page-footer {
    padding: 0;
    margin: 0;
    padding-top: 45px;
    padding-bottom: 58px;
  }
  .page-footer__wrapper {
    width: 668px;
    display: flex;
    justify-content: space-between;
  }
  .page-footer__logo {
    display: block;
    width: 102px;
    height: 34px;
    margin-top: 6px;
  }
  .page-footer__network {
    padding: 0;
    margin: 0;
    margin-left: 76px;
  }
  .page-footer__developed {
    padding: 0;
    margin: 0;
    width: 182px;
    text-align: left;
    margin-top: 18px;
  }
  .page-footer__developed::before {
    content: none;
  }
  .page-footer__developed::after {
    top: -5px;
    right: 0px;
  }
}
@media (min-width: 1150px) {
  .page-footer__wrapper {
    width: 1050px;
  }
}
.section-featured {
  width: 260px;
  margin: 0 auto;
  padding-top: 27px;
  margin-bottom: 42px;
}
.section-featured__heading {
  position: relative;
  margin-bottom: 48px;
}
.section-featured__subtitle {
  font-size: 17px;
  line-height: 20px;
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #63d1bb;
  position: absolute;
  top: 35px;
  left: 0;
}
.section-featured__text {
  font-size: 15px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 26px;
}
.section-featured__table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 19px;
}
.section-featured__tr {
  display: block;
  padding-bottom: 9px;
  margin-bottom: 8px;
  border-bottom: 1px solid #ececec;
}
.section-featured__charac,
.section-featured__value {
  font-size: 15px;
  line-height: 20px;
}
.section-featured__charac {
  width: 97px;
}
.section-featured__container-image {
  width: 260px;
  height: 315px;
  margin-bottom: 25px;
}
.section-featured__price {
  font-size: 17px;
  line-height: 24px;
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: #444444;
  display: block;
  text-align: center;
  margin-bottom: 26px;
}
@media (min-width: 768px) {
  .section-featured {
    width: 668px;
    position: relative;
    min-height: 403px;
    padding-top: 36px;
  }
  .section-featured__description {
    width: 292px;
    margin-right: auto;
  }
  .section-featured__heading {
    font-size: 43px;
    line-height: 50px;
    position: relative;
  }
  .section-featured__subtitle {
    font-size: 17px;
    line-height: 17px;
    width: 75px;
    text-align: center;
    left: auto;
    top: 11px;
    right: 25px;
  }
  .section-featured__text {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 45px;
  }
  .section-featured__table {
    margin-bottom: 48px;
  }
  .section-featured__container-image {
    width: 333px;
    height: 403px;
    position: absolute;
    top: 143px;
    right: 0;
    z-index: -1;
  }
  .section-featured__price {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 34px;
  }
  .section-featured__button {
    max-width: none;
  }
}
@media (min-width: 1150px) {
  .section-featured {
    width: 1050px;
    padding-left: 175px;
    min-height: 636px;
    padding-top: 107px;
  }
  .section-featured__heading {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 49px;
  }
  .section-featured__subtitle {
    top: 15px;
    right: auto;
    left: -131px;
  }
  .section-featured__text {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 56px;
  }
  .section-featured__table {
    margin-bottom: 102px;
  }
  .section-featured__tr {
    padding-bottom: 11px;
    margin-bottom: 6px;
  }
  .section-featured__container-image {
    width: 525px;
    height: 636px;
    top: 55px;
    right: 0;
  }
}
.section-about__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.section-about {
  width: 260px;
  margin: 0 auto;
  padding-top: 27px;
  margin-bottom: 52px;
}
.about-list__item {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  padding-top: 84px;
  position: relative;
}
.about-list__item::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
}
.about-list__item--eco::before {
  background-image: url(../img/icon-1.png);
  width: 32px;
  height: 37px;
  top: 32px;
  left: 8px;
}
.about-list__item--price::before {
  background-image: url(../img/icon-3.png);
  width: 47px;
  height: 27px;
  top: 32px;
  left: 0px;
}
.about-list__item--like::before {
  background-image: url(../img/icon-5.png);
  width: 34px;
  height: 27px;
  top: 36px;
  left: 7px;
}
.about-list__item--hand::before {
  background-image: url(../img/icon-2.png);
  width: 35px;
  height: 34px;
  top: 32px;
  left: 3px;
}
.about-list__item--patriot::before {
  background-image: url(../img/icon-4.png);
  width: 55px;
  height: 23px;
  top: 32px;
  left: -6px;
}
.about-list__item--surprise::before {
  background-image: url(../img/icon-6.png);
  width: 33px;
  height: 32px;
  top: 29px;
  left: 3px;
}
@media (min-width: 768px) {
  .section-about {
    width: 668px;
    padding-top: 76px;
  }
  .section-about__heading {
    font-size: 43px;
    line-height: 50px;
  }
  .about-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .about-list__item {
    font-size: 20px;
    line-height: 22px;
    width: 334px;
    padding-top: 108px;
  }
  .about-list__item::before {
    top: 55px;
  }
}
@media (min-width: 1150px) {
  .section-about {
    width: 700px;
    padding-top: 113px;
  }
  .section-about__heading {
    font-size: 53px;
    line-height: 57px;
  }
  .about-list__item {
    width: 50%;
  }
}
.section-reviews {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 44px;
}
.section-reviews__heading {
  margin-bottom: 24px;
}
.section-reviews__review {
  margin-bottom: 34px;
}
.article-review__text {
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 29px;
}
.article-review__name {
  display: block;
  padding: 0;
  margin: 0;
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 10px;
}
.article-review__insta {
  display: block;
  padding: 0;
  margin: 0;
  font-family: 'OpenSans-regular', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
}
.section-reviews__toggles {
  display: flex;
  margin-bottom: 38px;
}
.section-reviews__toggle {
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  width: 130px;
  height: 52px;
  border: 1px solid #ececec;
  background-color: transparent;
  font-size: 0.01px;
  position: relative;
}
.section-reviews__toggle--left {
  border-right: none;
}
.section-reviews__toggle::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 5px solid #000000;
  border-top: none;
  border-right: none;
  transform: rotate(45deg);
  top: 15px;
  left: 41px;
}
.section-reviews__toggle--right::before {
  transform: rotate(-135deg);
  top: 15px;
  left: auto;
  right: 44px;
}
.section-reviews__toggle::after {
  content: "";
  position: absolute;
  width: 45px;
  height: 4px;
  background-color: #000000;
  top: 23px;
  left: 42px;
}
.section-reviews__toggle--right::after {
  top: 23px;
  left: auto;
  right: 46px;
}
.section-reviews__button--tablet {
  display: none;
}
@media (min-width: 768px) {
  .section-reviews__button--mobile {
    display: none;
  }
  .section-reviews {
    width: 668px;
    position: relative;
    padding-top: 109px;
    margin-bottom: 118px;
  }
  .section-reviews::before {
    content: "";
    position: absolute;
    width: 350px;
    height: 457px;
    background-image: url(../img/review.jpg);
    top: 32px;
    left: -50px;
    z-index: -10;
  }
  .section-reviews__heading {
    font-size: 43px;
    line-height: 50px;
    position: relative;
    margin-bottom: 49px;
  }
  .section-reviews__button--tablet {
    display: block;
    width: 175px;
    position: absolute;
    top: 2px;
    right: 0;
  }
  .article-review__text {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 59px;
  }
  .article-review__name {
    font-size: 18px;
    line-height: 21px;
  }
  .section-reviews__toggles {
    position: absolute;
    margin: 0;
    top: auto;
    bottom: -3px;
    right: -22px;
  }
  .section-reviews__toggle {
    width: 108px;
    height: 52px;
    border: none;
  }
}
@media (min-width: 1150px) {
  .section-reviews {
    width: 1050px;
    padding-left: 175px;
  }
  .section-reviews::before {
    top: 39px;
    left: 0px;
  }
  .section-reviews__heading {
    font-size: 53px;
    line-height: 57px;
  }
  .section-reviews__button--tablet {
    top: 9px;
    right: 0;
  }
  .article-review__text {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 40px;
  }
  .article-review__name {
    display: block;
    font-size: 18px;
    line-height: 21px;
  }
  .section-reviews__toggles {
    bottom: -3px;
    right: -22px;
  }
}
.section-contacts__button--top {
  display: none;
}
.section-contacts {
  width: 260px;
  margin: 0 auto;
  padding-top: 42px;
  margin-bottom: 39px;
}
.section-contacts__container-contacts {
  margin-bottom: 37px;
}
.section-contacts__title {
  padding: 0;
  margin: 0;
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 26px;
}
.section-contacts__table {
  width: 100%;
}
.section-contacts__tr {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.section-contacts__tr:first-child {
  margin-bottom: 30px;
}
.section-contacts__td {
  font-size: 15px;
  line-height: 30px;
}
.section-contacts__td--value {
  width: 50px;
}
.section-contacts__td--weight {
  width: 182px;
  text-align: left;
  position: relative;
}
.section-contacts__td--weight-under::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #63d1bb;
  bottom: 0px;
  left: 0;
}
.section-contacts__container-image {
  position: relative;
  height: 457px;
  margin-bottom: 39px;
}
.section-contacts__container-image::before {
  content: "";
  position: absolute;
  width: 67px;
  height: 100px;
  background-image: url(../img/map-pin.png);
  top: 145px;
  left: 108px;
  z-index: 10;
}
.section-contacts__image {
  display: block;
  position: absolute;
  left: -31px;
}
@media (min-width: 768px) {
  .section-contacts {
    width: 668px;
    padding-top: 79px;
    margin-bottom: 57px;
  }
  .section-contacts__container-contacts {
    margin-bottom: 56px;
  }
  .section-contacts__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 49px;
    position: relative;
  }
  .section-contacts__title::before {
    content: "";
    position: absolute;
    width: 47px;
    height: 81px;
    background-image: url(../img/flag.png);
    top: -15px;
    right: 3px;
  }
  .section-contacts__table {
    display: flex;
    justify-content: space-between;
  }
  .section-contacts__td {
    font-size: 17px;
    line-height: 30px;
  }
  .section-contacts__tr {
    width: 50%;
    justify-content: start;
  }
  .section-contacts__td--value {
    width: 55px;
    margin-right: 23px;
  }
  .section-contacts__td--weight {
    width: auto;
  }
  .section-contacts__container-image {
    margin-bottom: 55px;
  }
  .section-contacts__container-image::before {
    top: 139px;
    left: 313px;
  }
  .section-contacts__image {
    position: absolute;
    left: -50px;
    width: 768px;
    height: 457px;
  }
  .section-contacts__button {
    width: 230px;
    margin: 0 auto;
  }
}
@media (min-width: 1150px) {
  .section-contacts {
    width: 1050px;
    position: relative;
    min-height: 457px;
    padding-left: 175px;
    padding-top: 213px;
    margin-bottom: 105px;
  }
  .section-contacts__title {
    font-size: 53px;
    line-height: 57px;
  }
  .section-contacts__title::before {
    top: -8px;
    left: -112px;
  }
  .section-contacts__table {
    display: block;
    margin-bottom: 79px;
  }
  .section-contacts__tr {
    width: 100%;
  }
  .section-contacts__td--value {
    width: 55px;
  }
  .section-contacts__td--weight {
    text-align: left;
  }
  .article-contacts {
    width: 300px;
    margin-right: auto;
  }
  .section-contacts__container-image {
    position: absolute;
    right: 0;
    top: auto;
    bottom: -55px;
    width: 525px;
    height: 457px;
  }
  .section-contacts__container-image::before {
    top: 146px;
    left: 238px;
  }
  .section-contacts__image {
    position: static;
    width: 525px;
    height: 457px;
  }
  .section-contacts__button--top {
    display: block;
    margin: 0;
  }
  .section-contacts__button--bottom {
    display: none;
  }
}
.page-header--catalog {
  padding-bottom: 76px;
}
.page-header__main-nav--catalog {
  margin-bottom: 70px;
}
.page-header__main-title {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  width: 260px;
  text-align: center;
  margin: 0 auto;
}
.catalog-list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 31px;
}
.catalog-list__item {
  width: 260px;
  border: solid 1px #ececec;
  margin-top: 30px;
}
.catalog-list__container-image {
  width: 260px;
  height: 195px;
}
.catalog-list__container-description {
  padding-top: 26px;
  padding-left: 28px;
  padding-bottom: 26px;
}
.catalog-list__name {
  padding: 0;
  margin: 0;
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 5px;
}
.catalog-list__characteristics {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 30px;
  font-style: normal;
  margin-bottom: 19px;
}
.catalog-list__container-buy {
  display: flex;
  border-top: solid 1px #ececec;
  width: 204px;
  padding-top: 22px;
}
.catalog-list__price {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
}
.catalog-list__buy {
  padding: 0;
  margin: 0;
  border: none;
  font-size: 0.01px;
  width: 20px;
  height: 19px;
  background-color: transparent;
  background-image: url(../img/cart.png);
  background-repeat: no-repeat;
  margin-left: auto;
}
@media (min-width: 768px) {
  .page-header--catalog {
    padding-bottom: 76px;
  }
  .page-header__main-nav--catalog {
    margin-bottom: 54px;
  }
  .page-header__main-title {
    font-size: 43px;
    line-height: 50px;
    width: 383px;
  }
  .catalog-list {
    width: 668px;
    padding-top: 29px;
    margin-bottom: 53px;
  }
  .catalog-list__item {
    width: 668px;
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
  }
  .catalog-list__container-image {
    width: 334px;
    height: 332px;
    background-color: #eeeeee;
  }
  .catalog-list__container-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 334px;
    padding-top: 25px;
    padding-bottom: 28px;
  }
  .catalog-list__name {
    font-size: 20px;
    line-height: 24px;
  }
  .catalog-list__characteristics {
    font-size: 15px;
    line-height: 30px;
  }
  .catalog-list__container-buy {
    width: 268px;
    margin-top: auto;
    margin-left: 4px;
  }
  .catalog-list__price {
    font-size: 17px;
    line-height: 24px;
  }
}
@media (min-width: 1150px) {
  .page-header__main-nav--catalog {
    margin-bottom: 51px;
  }
  .page-header--catalog {
    padding-bottom: 101px;
  }
  .page-header__main-title {
    font-size: 53px;
    line-height: 57px;
    width: 570px;
  }
  .catalog-list {
    width: 1050px;
    margin-bottom: 57px;
    display: flex;
    justify-content: space-between;
    padding-top: 130px;
  }
  .catalog-list__item {
    margin-top: 0;
    width: 316px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
  }
  .catalog-list__container-image {
    width: 316px;
    height: 462px;
  }
  .catalog-list__container-description {
    display: block;
    width: 316px;
    padding-bottom: 87px;
  }
  .catalog-list__characteristics {
    margin-bottom: 0px;
  }
  .catalog-list__container-buy {
    position: absolute;
    width: 256px;
    margin: 0;
    bottom: 26px;
  }
}
.section-processing {
  width: 260px;
  margin: 0 auto;
  border: solid 1px #ececec;
  padding-top: 23px;
  margin-bottom: 58px;
}
.section-processing__title {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  position: relative;
}
.section-processing__title::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 22px;
  background-repeat: no-repeat;
  background-image: url(../img/video.png);
  top: 11px;
  left: 0;
}
.section-processing__container-video {
  width: 260px;
  height: 150px;
  margin-bottom: 27px;
}
.section-processing__title--top {
  width: 192px;
  margin: 0 auto;
  padding-left: 56px;
  margin-bottom: 24px;
}
.section-processing__title--bottom {
  display: none;
}
.section-processing__text {
  font-size: 13px;
  line-height: 24px;
  width: 192px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.section-processing__button {
  width: 192px;
  margin: 0 auto;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .section-processing {
    width: 668px;
    padding: 0;
    margin-bottom: 63px;
  }
  .section-processing__container-video {
    width: 668px;
    height: 455px;
    background-color: #eeeeee;
    margin-bottom: 38px;
  }
  .section-processing__title--top {
    display: none;
  }
  .section-processing__title--bottom {
    display: block;
    width: 584px;
    margin: 0 auto;
    padding-left: 64px;
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 24px;
  }
  .section-processing__title::before {
    top: 0;
  }
  .section-processing__text {
    font-size: 15px;
    line-height: 30px;
    width: 584px;
    margin-bottom: 35px;
  }
  .section-processing__button {
    max-width: none;
    width: 584px;
    margin-bottom: 45px;
  }
}
@media (min-width: 1150px) {
  .section-processing {
    width: 1050px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 103px;
  }
  .section-processing__container-video {
    width: 682px;
    height: 455px;
    margin-bottom: 0;
  }
  .section-processing__container-description {
    width: 368px;
    padding-left: 18px;
    padding-top: 41px;
  }
  .section-processing__title--bottom {
    width: 230px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 24px;
    padding: 0;
    padding-top: 54px;
    margin-bottom: 33px;
  }
  .section-processing__title::before {
    top: 5px;
    left: 3px;
  }
  .section-processing__text {
    width: 230px;
    margin-bottom: 46px;
  }
  .section-processing__button {
    width: 230px;
    margin-left: 62px;
  }
}
.page-header--form {
  padding-bottom: 76px;
}
.page-header__main-nav--form {
  margin-bottom: 70px;
}
.page-header__main-title--form {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  width: 260px;
  text-align: center;
  margin: 0 auto;
}
.section-form__form {
  padding: 0;
  margin: 0;
  width: 260px;
  margin: 0 auto;
  padding-top: 22px;
}
.section-form__text {
  font-size: 13px;
  line-height: 24px;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 24px;
}
.section-form__form-fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 44px;
}
.form-legend {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
  position: relative;
  margin-bottom: 34px;
  padding: 0;
}
.form-legend::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 198px;
  background-color: #63d1bb;
  top: 8px;
  right: 0;
}
.form-label {
  font-family: 'OpenSans-bold', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}
.form-fieldset-initials__input,
.form-fieldset-phone__input,
.form-fieldset-email__input,
.form-fieldset-additionally__textarea {
  font-family: 'OpenSans-regular', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  line-height: 18px;
  display: block;
  width: 260px;
}
.form-fieldset-initials__input::placeholder,
.form-fieldset-phone__input::placeholder,
.form-fieldset-email__input::placeholder,
.form-fieldset-additionally__textarea::placeholder {
  font-family: 'OpenSans-regular', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}
input[type="radio"],
input[type="checkbox"] {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
}
.form-fieldset-type__label,
.form-fieldset-color__label {
  display: block;
  padding-left: 63px;
  position: relative;
}
.form-fieldset-type__label {
  margin-bottom: 24px;
}
.form-fieldset-type__label::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #444444;
  top: -8px;
  left: 1px;
}
.form-fieldset-type__label::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #63d1bb;
  top: 3px;
  left: 12px;
  display: none;
}
.form-fieldset-type__input:checked + .form-fieldset-type__label::after {
  display: block;
}
.form-fieldset-color__legend {
  margin-bottom: 35px;
}
.form-fieldset-color__container-input {
  margin-bottom: 43px;
}
.form-fieldset-color__label::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 35px;
  border: 2px solid #444444;
  top: -10px;
  left: 0px;
}
.form-fieldset-color__label::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 16px;
  background-image: url(../img/tick-mobile.svg);
  background-size: 22px 16px;
  top: 2px;
  left: 9px;
  display: none;
}
.form-fieldset-color__input:checked + .form-fieldset-color__label::after {
  display: block;
}
.form-fieldset-initials {
  margin-bottom: 31px;
}
.form-fieldset-initials__legend {
  margin-bottom: 28px;
}
.form-fieldset-initials__container-input {
  margin-bottom: 22px;
}
.form-fieldset-initials__label {
  display: block;
  margin-bottom: 16px;
}
.form-fieldset-initials__input {
  padding: 0;
  margin: 0;
  border: none;
  border-bottom: 2px solid #000000;
  background-color: transparent;
  padding-bottom: 16px;
}
.form-fieldset-phone {
  margin-bottom: 32px;
}
.form-fieldset-phone__legend {
  margin-bottom: 23px;
}
.form-fieldset-phone__container-input {
  position: relative;
}
.form-fieldset-phone__container-input::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 24px;
  background-image: url(../img/phone.svg);
  background-size: 25px 24px;
  top: -5px;
  right: 8px;
  filter: opacity(20%);
}
.form-fieldset-phone__input {
  padding: 0;
  margin: 0;
  border: none;
  border-bottom: 2px solid #000000;
  background-color: transparent;
  padding-bottom: 16px;
  padding-right: 50px;
}
.form-fieldset-email {
  margin-bottom: 32px;
}
.form-fieldset-email__legend {
  margin-bottom: 23px;
}
.form-fieldset-email__legend::after {
  width: 179px;
}
.form-fieldset-email__container-input {
  position: relative;
}
.form-fieldset-email__container-input::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 21px;
  background-image: url(../img/mail.svg);
  background-size: 32px 21px;
  top: 0px;
  right: 4px;
  filter: opacity(20%);
}
.form-fieldset-email__input {
  padding: 0;
  margin: 0;
  border: none;
  border-bottom: 2px solid #000000;
  background-color: transparent;
  padding-bottom: 16px;
  padding-right: 50px;
}
.form-fieldset-additionally {
  margin-bottom: 16px;
}
.form-fieldset-additionally__legend {
  margin-bottom: 25px;
}
.form-fieldset-additionally__textarea {
  display: block;
  min-width: 260px;
  max-width: 260px;
  padding: 0;
  margin: 0;
  border: 2px solid #444444;
  background-color: transparent;
  padding-bottom: 16px;
  min-height: 142px;
  padding-top: 14px;
  padding-left: 14px;
}
.section-form__tiny {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 31px;
}
.section-form__button {
  margin-bottom: 55px;
}
@media (min-width: 768px) {
  .page-header__main-nav--form {
    margin-bottom: 53px;
  }
  .page-header__main-title--form {
    font-size: 43px;
    line-height: 50px;
    width: 668px;
    text-align: center;
  }
  .section-form__form {
    width: 100%;
    padding-top: 78px;
  }
  .section-form__text {
    width: 668px;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 0;
  }
  .section-form__form-fieldset {
    margin: 0 auto;
    width: 668px;
    display: flex;
    justify-content: space-between;
  }
  .container-inputs {
    width: 501px;
  }
  .form-legend {
    width: 167px;
  }
  .form-legend::after {
    display: none;
  }
  .form-label {
    font-size: 19px;
    line-height: 18px;
  }
  .wrapper__form-fieldset-type {
    padding-top: 74px;
    padding-bottom: 9px;
  }
  .form-fieldset-type {
    margin-bottom: 0;
  }
  .form-fieldset-type__container-input {
    margin-bottom: 58px;
  }
  .form-fieldset-type__label,
  .form-fieldset-color__label {
    display: block;
    padding-left: 80px;
    position: relative;
  }
  .form-fieldset-type__label {
    margin: 0;
  }
  .form-fieldset-type__label::before {
    width: 48px;
    height: 48px;
    top: -17px;
    left: 0px;
  }
  .form-fieldset-type__label::after {
    width: 21px;
    height: 21px;
    top: -1px;
    left: 16px;
  }
  .form-fieldset-type__input:checked + .form-fieldset-type__label::after {
    display: block;
  }
  .wrapper__form-fieldset-color {
    width: 100%;
    background-color: #f1f1f1;
    padding-top: 67px;
    padding-bottom: 9px;
  }
  .form-fieldset-color {
    width: 668px;
    margin: 0 auto;
  }
  .form-fieldset-color__legend {
    margin-bottom: 35px;
  }
  .form-fieldset-color__container-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
  .form-fieldset-color__container-input {
    margin-bottom: 58px;
    width: 210px;
  }
  .form-fieldset-color__container-input:nth-child(odd) {
    margin-right: 52px;
  }
  .form-fieldset-color__label::before {
    width: 50px;
    height: 48px;
    top: -17px;
    left: 0px;
  }
  .form-fieldset-color__label::after {
    width: 33px;
    height: 22px;
    background-image: url(../img/tick-tablet.svg);
    background-size: 33px 22px;
    top: -1px;
    left: 11px;
  }
  .form-fieldset-color__input:checked + .form-fieldset-color__label::after {
    display: block;
  }
  .wrapper__form-fieldset-initials {
    padding-top: 67px;
    padding-bottom: 12px;
  }
  .form-fieldset-initials__container-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 39px;
  }
  .form-fieldset-initials__label {
    margin-right: 26px;
  }
  .form-fieldset-initials__input {
    width: 100%;
    padding-left: 17px;
  }
  .form-fieldset-initials__input::placeholder {
    font-size: 19px;
    line-height: 18px;
  }
  .wrapper_form-fieldset-telmail {
    width: 100%;
    background-color: #f1f1f1;
    padding-top: 67px;
    padding-bottom: 46px;
  }
  .form-fieldset-phone {
    margin-bottom: 37px;
  }
  .form-fieldset-phone__container-input::after {
    width: 25px;
    height: 24px;
    top: -6px;
    right: 8px;
  }
  .form-fieldset-phone__input {
    display: block;
    width: 100%;
    margin-top: -1px;
    padding-left: 17px;
    padding-right: 80px;
  }
  .form-fieldset-phone__input::placeholder {
    font-size: 19px;
    line-height: 18px;
  }
  .form-fieldset-email__container-input::after {
    width: 32px;
    height: 21px;
    top: -1px;
    right: 4px;
  }
  .form-fieldset-email__input {
    display: block;
    width: 100%;
    margin-top: -1px;
    padding-left: 17px;
    padding-right: 80px;
  }
  .form-fieldset-email__input::placeholder {
    font-size: 19px;
    line-height: 18px;
  }
  .wrapper_form-fieldset-additionally {
    padding-top: 67px;
    margin-bottom: 53px;
  }
  .form-fieldset-additionally__textarea {
    margin-top: -17px;
    min-width: 501px;
    max-width: 501px;
  }
  .form-fieldset-additionally__textarea::placeholder {
    font-size: 19px;
    line-height: 18px;
  }
  .section-form__other {
    display: flex;
    justify-content: space-between;
    width: 668px;
    margin: 0 auto;
  }
  .section-form__button {
    width: 230px;
    margin-bottom: 50px;
  }
  .section-form__tiny {
    order: 2;
    font-size: 17px;
    line-height: 30px;
    margin-top: 9px;
  }
}
@media (min-width: 1150px) {
  .page-header--form {
    padding-bottom: 101px;
  }
  .page-header__main-nav--form {
    margin-bottom: 51px;
  }
  .page-header__main-title--form {
    font-size: 53px;
    line-height: 57px;
    width: 1050px;
    text-align: center;
  }
  .section-form__form {
    padding-top: 124px;
  }
  .section-form__text {
    width: 700px;
  }
  .section-form__form-fieldset {
    width: 1050px;
    display: flex;
    justify-content: flex-start;
  }
  .form-legend {
    width: 175px;
    padding-left: 64px;
  }
  .container-inputs {
    width: 700px;
  }
  .wrapper__form-fieldset-color {
    padding-bottom: 8px;
  }
  .form-fieldset-color__container-inputs {
    width: 736px;
    justify-content: space-between;
  }
  .form-fieldset-color__container-input:nth-child(odd) {
    margin-right: 0;
  }
  .form-fieldset-color__container-input {
    width: 210px;
  }
  .form-fieldset-initials__container-input {
    display: flex;
    justify-content: space-between;
  }
  .wrapper_form-fieldset-additionally {
    margin-bottom: 49px;
  }
  .form-fieldset-additionally__textarea {
    min-width: 700px;
    max-width: 700px;
  }
  .section-form__other {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin: 0 auto;
  }
  .section-form__tiny {
    order: 2;
  }
}
