@import url("less/help/vars.less");
@import url("less/help/mixins.less");

.page-main__main-title{
    .open-bold();
    font-weight: bold;
    .font(27px, 30px);
}

.catalog-list{
    .pama();
    list-style: none;
}

.catalog-list__name{
    .open-bold();
    font-weight: bold;
    .font(17px, 24px);
}

.catalog-list__characteristics{
    .font(13px, 30px);
    font-style: normal;
}

.catalog-list__price{
    .open-bold();
    font-weight: bold;
    .font(15px, 24px);
}
