@import url("less/help/vars.less");
@import url("less/help/mixins.less");

body{
    min-width: 320px;
}

.page-header{
    background-color: #f9f9f9
}

.page-header__list,
.tablet-version__item{
    .pama();
    list-style: none;
}

.site-list__link,
.menu-list__link,
.other-list__link,
.tablet-menu-list__link,
.tablet-site-list__link{
    .open-bold();
    .font(17px, 24px);
    color: @font-main;
    font-weight: bold;
    text-decoration: none;
}

.site-list__link--search,
.tablet-site-list__link--search{
    padding: 0;
    border: none;
    .font(17px, 24px);
    color: @font-main;
    font-weight: bold;
}

.site-list__link--search::placeholder,
.tablet-site-list__link--search::placeholder{
    .open-bold();
    .font(17px, 24px);
    color: @font-main;
    font-weight: bold;
}

.page-header__main-nav{
    width: 320px;
    margin: 0 auto;
}

.tablet-version{
    display: flex;
    flex-direction: column;
}

.tablet-version__item--logo{
    order: -1;
}

.other-list,
.menu-list{
    display: none;
}

.tablet-site-list__item{
    position: relative;
}

.tablet-site-list__item--search::before{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-image: url(../img/search.svg);
    background-size: 18px;
    top: 28px;
    left: 32px;
    opacity: 20%;
}

.tablet-site-list__item--cart::before{
    content: "";
    position: absolute;
    width: 21px;
    height: 18px;
    background-image: url(../img/cart.svg);
    background-size: 21px 18px;
    top: 28px;
    left: 30px;
    opacity: 20%;
}
@media (max-width: 767px){
    .page-header{
        width: 320px;
        margin: 0 auto;
    }

    .tablet-version{
        position: relative;
        background-color: #fff;
        width: 320px;
    }
    
    .tablet-menu-list__item,
    .tablet-version__item--logo,
    .tablet-site-list__item{
        .pama();
        width: 100%;
        border-bottom: 1px solid #ececec;
    }
    
    .tablet-version__link{
        .pama();
        display: block;
        width: 260px;
        margin: 0 auto;
        padding: 24px 39px;
    }

    .tablet-version__item--logo{
        padding: 22px 0;
        padding-top: 18px;
    }

    .tablet-version__logo{
        display: block;
        width: 86px;
        height: 35px;
        margin: 0 auto;
        background-image: url(../img/mishka-logo-mobile.svg);
        background-size: 86px 35px;
    }

    .tablet-version__toggle{
        position: absolute;

        font-size: 0.01px;
        width: 20px;
        height: 2px;
        background-color: #000000;
        box-shadow: 0px 6px, 0px 12px;
        border: none;

        top: 28px;
        right: 31px;
    }

    .tablet-version--closed .tablet-version__item{
        display: none;
    }

    .tablet-version--closed .tablet-version__item--logo{
        display: block;
    }

    .tablet-version--opened .tablet-version__toggle{
        width: 20px;
        height: 2px;
        background-color: transparent;
        box-shadow: none;

        top: 28px;
        right: 31px;
    }

    .tablet-version--opened .tablet-version__toggle::before,
    .tablet-version--opened .tablet-version__toggle::after{
        content: "";
        position: absolute;

        width: 28px;
        height: 2px;
        background-color: #000000;
        top: 6px;
        left: -4px;
    }

    .tablet-version--opened .tablet-version__toggle::before{
        transform: rotate(45deg);
    }

    .tablet-version--opened .tablet-version__toggle::after{
        transform: rotate(-45deg);
    }
}





@media (min-width: 768px){
    .tablet-version__toggle{
        display: none;
    }

    .page-header__logo{
        display: none;
    }
    .site-list{
        display: none;
    }
    .tablet-menu-list{
        display: none;
    }

    .page-header__main-nav{
        width: 768px;
    }
    .page-header__main-nav-container{
        width: 668px;
        margin: 0 auto;
    }

    .tablet-version{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #fff;
        position: relative;
        z-index: 10;
    }
    .tablet-version::before,
    .tablet-version::after{
        content: "";
        position: absolute;
        width: 50px;
        height: 100%;
        background-color: #ffffff;
        border-bottom: 1px solid #e7e7e7;
        z-index: -1;
    }
    .tablet-version::before{
        top: -1px;
        left: -50px;
    }
    .tablet-version::after{
        top: -1px;
        right: -50px;
    }
    .tablet-version__item--logo{
        order: 0;
        width: 321px;
        border: 1px solid #e7e7e7;
        border-left: none;
        padding-top: 20px;
    }
    .tablet-version__logo{
        display: block;
        width: 112px;
        height: 46px;
        margin-right: auto;
        background-image: url(../img/mishka-logo-tablet.svg);
        background-size: 112px 46px;
    }
    .tablet-site-list{
        display: flex;
        justify-content: space-between;
    } 
    .tablet-site-list__item{
        display: block;
        border: 1px solid #e7e7e7;
        border-left: none;
        padding: 31px 0px;
    }
    .tablet-site-list__item--search{
        width: 83px;
    }
    .tablet-site-list__item--search::before{
        top: 33px;
    }
    .tablet-site-list__link--search{
        width: 0;
    }
    .tablet-site-list__item--cart{
        width: 263px;
        border-right: none;
        padding-top: 29px;
        text-align: right;
    }
    .tablet-site-list__item--cart::before{
        content: "";
        position: absolute;
        width: 21px;
        height: 18px;
        background-image: url(../img/cart.svg);
        background-size: 21px 18px;
        top: 31px;
        left: 30px;
        opacity: 20%;
    }


    .menu-list{
        display: flex;
        justify-content: flex-start;
        margin-top: 17px;
    }
    .menu-list__item--catalog{
        margin-right: 35px;
    }
    .menu-list__link{
        .font(15px, 24px);
    }
    .menu-list__item--mobile-hidden{
        display: block;
        .open-reg();
        .font(15px, 24px);
        margin-left: auto;
    }
}

@media (min-width: 1150px){
    .menu-list{
        display: none;
    }

    .page-header__main-nav{
        width: 1150px;
    }
    .page-header__main-nav-container{
        width: 1050px;
    }

    .tablet-menu-list{
        display: flex;
        justify-content: space-between;
        width: 415px;
    }
    .tablet-menu-list__item--catalog{
        border: 1px solid #e7e7e7;
        border-left: none;
        width: 185px;
        padding: 30px 0;
    }
    .tablet-menu-list__item--order{
        border: 1px solid #e7e7e7;
        border-right: none;
        border-left: none;
        width: 229px;
        padding: 30px 33px;
    }
    .tablet-version__item--logo{
        padding: 8px 36px;
    }
    .tablet-version__item--logo{
        width: 323px;
    }
    .tablet-version__logo{
        .pama();
        width: 149px;
        height: 72px;
        background-image: url(../img/mishka-logo-desktop.svg);
        background-size: 149px 72px;
    }
    .tablet-site-list__item--cart{
        width: 266px;
    }

    .other-list{
        display: flex;
        justify-content: flex-start;
        margin-top: 17px;
    }
    .other-list__item--catalog{
        margin-right: 61px;
    }
    .other-list__link{
        .font(15px, 24px);
    }
    .other-list__item--mobile-hidden{
        margin-left: auto;
    }
}



.page-header__container-things{
    width: 320px;
    margin: 0 auto;
    padding-top: 70px;
}

.section-things__heading{
    .open-bold();
    .font(27px, 30px);
    color: @font-main;
    font-weight: bold;

    width: 260px;
    text-align: center;
    margin: 0 auto;
}

.section-things__inner{
    margin-top: 122px;
    display: flex;
    flex-direction: column;
}

.section-things__mini-catalog{
    .open-bold();
    .font(19px, 24px);
    color: @font-second;
    font-weight: bold;
    text-decoration: none;

    .pama();
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 30px;

    position: relative;
}

.section-things__mini-catalog--interior::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 62px;
    top: 23px;
    right: 37px;
    background-image: url(../img/interior.svg);
}

.section-things__mini-catalog--toys::after{
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: 20px;
    right: 27px;
    background-image: url(../img/toy.svg);
    background-size: 20px 27px;
}


.section-things__mini-catalog--interior{
    background-color: @mini-catalog--interior;
}

.section-things__mini-catalog--toys{
    background-color: @mini-catalog--toys;
}   


@media (min-width: 768px){
    .page-header{
        position: relative;
    }

    .page-header__container-things{
        width: 768px;
        padding-top: 112px;
    }

    .page-header__container-things::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 12px;
        background-color: #ffffff;
        background-repeat: repeat-x;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
    }
    .page-header__container-things::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 22px;
        background-image: url(../img/zigzag-fill-tablet.svg);
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
    }

    .section-things__heading{
        .font(43px, 50px);
        width: 500px;
    }

    .section-things__inner{
        width: 668px;
        margin: 0 auto;
        margin-top: 373px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .section-things__mini-catalog{
        flex-grow: 1;
        flex-basis: 100%;
        
        .font(20px, 30px);
        padding-left: 35px;
        padding-top: 28px;
        padding-bottom: 40px;
    }
    .section-things__mini-catalog--toys::after {
        top: 31px;
        right: 34px;
    }
}

@media (min-width: 1150px){
    .page-header__container-things{
        width: 1050px;
    }
    
    .section-things__inner{
        width: 1050px;
        margin: 0 auto;
        margin-top: 359px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        position: relative;
    }
    .page-header__container-things::after{
        content: none;
    }
    .page-header__container-things::before{
        content: none;
    }
    .section-things__inner::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 34px;
        background-image: url(../img/zigzag-fill-desktop.png);
        left: 0;
        bottom: 0;
        z-index: 2;
    }
    .section-things__mini-catalog{
        padding-bottom: 47px;
    }

    .section-things__heading{
        .font(53px, 57px);
        width: 615px;
    }
}