@import url("less/help/vars.less");
@import url("less/help/mixins.less");

body{
    min-width: 320px;
}

.page-header__list,
.tablet-version__item{
    .pama();
    list-style: none;
}

.site-list__link,
.menu-list__link,
.other-list__link,
.tablet-menu-list__link,
.tablet-site-list__link{
    .open-bold();
    .font(17px, 24px);
    color: @font-main;
    font-weight: bold;
    text-decoration: none;
}

.site-list__link--search,
.tablet-site-list__link--search{
    padding: 0;
    border: none;
    .font(17px, 24px);
    color: @font-main;
    font-weight: bold;
}

.site-list__link--search::placeholder,
.tablet-site-list__link--search::placeholder{
    .open-bold();
    .font(17px, 24px);
    color: @font-main;
    font-weight: bold;
}

.page-header__main-nav{
    width: 320px;
    margin: 0 auto;
}

.tablet-version{
    display: flex;
    flex-direction: column;
}

.tablet-version__item--logo{
    order: -1;
}

.other-list,
.menu-list{
    display: none;
}

.tablet-site-list__item--search{
    position: relative;
}

.tablet-site-list__item--search::before{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-image: url(/img/search.png);
    background-size: 18px;
    top: 28px;
    left: 32px;
    opacity: 20%;
}

@media (max-width: 768px){
    .tablet-version{
        position: relative;

        width: 320px;
    }
    
    .tablet-menu-list__item,
    .tablet-version__item--logo,
    .tablet-site-list__item{
        .pama();
        width: 100%;
        border-bottom: 1px solid #ececec;
    }
    
    .tablet-version__link{
        .pama();
        display: block;
        width: 260px;
        margin: 0 auto;
        padding: 24px 39px;
    }

    .tablet-version__item--logo{
        padding: 20px 0;
    }

    .tablet-version__logo{
        display: block;
        width: 86px;
        height: 35px;
        margin: 0 auto;
    }

    .tablet-version__toggle{
        position: absolute;

        font-size: 0.01px;
        width: 20px;
        height: 20px;
        background-color: red;
        border: none;

        top: 20px;
        right: 31px;
    }

    .tablet-version--closed .tablet-version__item{
        display: none;
    }

    .tablet-version--closed .tablet-version__item--logo{
        display: block;
    }
}





@media (min-width: 768px){
    .tablet-version__toggle{
        display: none;
    }

    .page-header{
        background-color: #fafafa;
    }

    .page-header__logo{
        display: none;
    }
    .site-list{
        display: none;
    }
    .tablet-menu-list{
        display: none;
    }

    .page-header__main-nav{
        width: 768px;
    }
    .page-header__main-nav-container{
        width: 668px;
        margin: 0 auto;
    }

    .tablet-version{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #fff;
    }
    .tablet-version__item--logo{
        order: 0;
        width: 321px;
        border: 1px solid #e7e7e7;
    }
    .tablet-version__logo{
        display: block;
        width: 112px;
        height: 46px;
        margin-right: auto;
    }
    .tablet-site-list{
        display: flex;
        justify-content: space-between;
    } 
    .tablet-site-list__item{
        display: block;
        border: 1px solid #e7e7e7;
        border-left-color: transparent;
    }
    .tablet-site-list__link--search{
        display: none;
    }


    .menu-list{
        display: flex;
        justify-content: space-between;
    }
    .menu-list__link{
        .font(15px, 24px);
    }
    .menu-list__item--mobile-hidden{
        display: block;
        .open-reg();
        .font(15px, 24px);
    }
}

@media (min-width: 1150px){
    .menu-list{
        display: none;
    }

    .page-header__main-nav{
        width: 1150px;
    }
    .page-header__main-nav-container{
        width: 1050px;
    }

    .tablet-menu-list{
        display: flex;
        justify-content: space-between;
        width: 378px;
    }
    .tablet-version__item--logo{
        height: 72px;
    }

    .other-list{
        display: flex;
        justify-content: space-between;
    }
    .other-list__link{
        .font(15px, 24px);
    }
}



.page-header__container-things{
    width: 320px;
    margin: 0 auto;
}

.section-things__heading{
    .open-bold();
    .font(27px, 30px);
    color: @font-main;
    font-weight: bold;

    width: 250px;
    text-align: center;
    margin: 0 auto;
}

.section-things__inner{
    display: flex;
    flex-direction: column;
}

.section-things__mini-catalog{
    .open-bold();
    .font(19px, 24px);
    color: @font-second;
    font-weight: bold;
    text-decoration: none;

    .pama();
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 30px;
}

.section-things__mini-catalog--interior{
    background-color: @mini-catalog--interior;
}

.section-things__mini-catalog--toys{
    background-color: @mini-catalog--toys;
}   


@media (min-width: 768px){
    .page-header__container-things{
        width: 668px;
    }

    .section-things__heading{
        .font(43px, 50px);
        width: 500px;
    }

    .section-things__inner{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .section-things__mini-catalog{
        flex-grow: 1;
        flex-basis: 100px;

    }
}

@media (min-width: 1150px){
    .page-header__container-things{
        width: 1050px;
    }

    .section-things__heading{
        .font(53px, 57px);
        width: 615px;
    }
}