@import url("less/help/vars.less");
@import url("less/help/mixins.less");

.section-reviews{
    width: 260px;
    margin: 0 auto
}

.article-review__text{
    .font(15px, 30px);
}

.article-review__name{
    .open-bold();
    font-weight: bold;
    .font(17px, 20px);
}

.article-review__insta{
    .open-reg();
    font-weight: normal;
    .font(17px, 20px);
}

.article-review__button--tablet{
    display: none;
}



@media (min-width: 768px){
    .article-review__button--mobile{
        display: none;
    }

    .section-reviews{
        width: 668px;
        position: relative;
    }

    .section-reviews__heading{
        .font(43px, 50px);
        
        position: relative;
    }

    .article-review__button--tablet{
        width: 175px;

        display: block;
        position: absolute;
        top: 0;
        right: 0;

    }

    .article-review__text{
        .font(17px, 30px);
    }

    .article-review__name{
        display: block;
    }

    .article-review__toggles{
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

@media (min-width: 1150px){
    .section-reviews{
        width: 1050px;
        padding-left: 175px;
    }

    .section-reviews__heading{
        .font(53px, 57px);
    }

    .article-review__button--tablet{
        top: 0;
        right: 0;
    }

    .article-review__toggles{
        bottom: 0;
        right: 0;
    }
}
