@import url("less/help/vars.less");
@import url("less/help/mixins.less");

.section-featured__subtitle{
    .font(17px, 20px);
    .open-bold();
    font-weight: bold;
    text-transform: uppercase;
    color: @mini-catalog--interior;
}

.section-featured__text{
    .font(15px, 24px);
}

.section-featured__charac{
    .font(15px, 20px);
}

.section-featured__price{
    .font(17px, 24px);
    .open-bold();
    font-weight: bold;
    color: @color-darken;
}

